<%= stylesheet_link_tag "meetups", :media => "all" %>
<%= form_with(model: meetup) do |form| %>
  <% if meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
        <% meetup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Description %>
    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>
  </div>
  <div class="field">
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
