<%= stylesheet_link_tag "users", :media => "screen" %>

<div class="input_message_form">
  <%= form_for([@user, @endorsement]) do |f| %>
    <%= f.text_field :body, placeholder: '...reason for thumbs up', class: "message_area" %>    
    <%= f.text_field :user_id, value: @user.id, type: "hidden" %> <br />
    <%= f.text_field :endorser_id, value: current_user.id, type: "hidden" %> <br />
    <div class="hover_over_thumbs_up">
    <%= f.submit "ðŸ‘" %>
    </div> 
  <% end %>
</div>
