<%= link_to "Sign up", new_user_registration_path %>

<h1>Pace</h1>
<% @users.each do |user| %>
  <p><%= user.first_name %></p>
  <p><%= user.postcode %></p>
  <p><%= user.gender %></p>
  <p><%= user.ability %></p>
  <p><%= user.goals %></p>
  <%= button_to 'Show', user %>
<% end %>