<%= stylesheet_link_tag "home_page", :media => "screen" %>

<%= form_tag("/users", method: 'get') do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="background">
  <div class="main-body">
    <% if user_signed_in? %>
      <% @users.each do |user| %>
        <div class="user-container">
          <% if user.profile_pic.attached? %>
            <% image = user.profile_pic %>
          <% else %>
            <% image = 'default.jpg' %>
          <% end %>
          <%= image_tag(image, class: "profile_pic") %>
          <div class ="user-details">
            <p><strong> Name: </strong> <%= user.first_name %></p>
            <p><strong> Area:</strong> <%= user.postcode %></p>
            <p><strong> Gender: </strong> <%= user.gender %></p>
            <p><strong> Ability: </strong> <%= user.ability %></p>
            <p><strong> Goals: </strong> <%= user.goals %></p>
          </div>
          <% if user == current_user %>
            <%= button_to "View Your Profile", user %> 
          <% else %>
            <%= button_to "View #{user.first_name}'s Profile", user %> 
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class='button_loggedout'>
        <%= link_to "Login", new_user_session_path %>
      </div>
      </br>
      <div class='button_loggedout'>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
