<%= stylesheet_link_tag "home_page", :media => "screen" %>

<div class="background">
  <div class="main-body">
  <% if user_signed_in? %>
    <div class="user-container">
    <% @users.each do |user| %>
    <% if user.profile_pic.attached? %>
     <% image = user.profile_pic %>
    <% else %>
     <% image = 'default.jpg' %>
    <% end %>
  <%= image_tag(image, class: "profile_pic") %> <br />
        <h3><%= user.first_name %></h3>
        <br>
        <p><%= user.postcode %></p>
        <br>
        <p><%= user.gender %></p>
        <br>
        <p><%= user.ability %></p>
        <br>
        <p><%= user.goals %></p>
        <%= button_to "View #{user.first_name}'s Profile", user %>
    </div>
  <% end %>
 <% end %>
 </div>
</div>

