<p>
<strong>User information:</strong>
<p><strong> name: </strong> <%= @user.first_name %></p>
<p><strong> postcode:</strong> <%= @user.postcode %></p>
<p><strong> gender: </strong> <%= @user.gender %></p>
<p><strong> ability: </strong> <%= @user.ability %></p>
<p><strong> goals: </strong> <%= @user.goals %></p>

<br>
<% if current_user.id == @user.id %>
  <p><%= @user.email %></p>
  <%= link_to "Edit", edit_user_registration_path %>
<% end %>
</p>
