<strong>User information:</strong>

<% if @user.profile_pic.attached? %>
  <% image = @user.profile_pic %>
<% else %>
  <% image = 'default.jpg' %>
<% end %>
<%= image_tag(image, class: "profile_pic") %> <br />

<p><%= @user.first_name %></p>
<p><%= @user.postcode %></p>
<p><%= @user.gender %></p>
<p><%= @user.ability %></p>
<p><%= @user.goals %></p>

<br>
<% if current_user.id == @user.id %>
  <p><%= @user.email %></p>
  <%= link_to "Edit", edit_user_registration_path %>
<% end %>
