<header>
  <div class="header-container">
  <a href="/"><%= image_tag "pace-logo.png", class: "pace-logo"%></a>
    <nav>
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <li><%= link_to('View profile', current_user) %></li>
          <% if @unread_messages.nil? || @unread_messages == 0 %>
            <li><%= link_to("View inbox", conversations_path) %></li>
          <% else %>
            <li><b><%= link_to("View inbox (#{@unread_messages})", conversations_path) %></b></li>
          <% end %>
        <% end %>
        </ul>
    </nav>
  </div>
</header>
