<!DOCTYPE html>
<html>
  <head>
    <title>Pace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>

  <div class="footer">
    <p>@2021-team-speedy</p>
  </div>
  
</html>
